<!DOCTYPE html>
<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
              <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %>
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">最新の投稿</span>
                </h2>
                <table>
                    <tr>
                      <th>ユーザー名</th>
                      <th>画像</th>
                      <th>タイトル</th>
                      <th>キャンプ場</th>
                      <th>詳細</th>
                    </tr>
                    <% @post.first(2).each do |p| %>
                      <tr>
                        <td><%= p.user.name%></td>
                        <td><%= image_tag p.image.url class: "post-image"%></td>
                        <td><%= link_to p.title, post_path(p.id) %></td>
                        <td><%= p.field_name %></td>
                        <td><%= p.details %></td>
                      </tr>
                    <% end %>
                </table>
            </div>
        </div>
    </div>
</section>
<footer class="footer text-faded text-center py-5">
    <div class="container"><p class="m-0 small">Copyright &copy; Your Website 2023</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
