<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Solocampmap</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


    <div class = header-list>


    </div>

    <% if flash[:notice] %>
      <p>Notice: <%= flash[:notice] %></p>
    <% end %>
    <% if flash[:alert] %>
      <p>Alert: <%= flash[:alert] %></p>
    <% end %>
    <header>
      <h1 class="site-heading text-center text-faded d-none d-lg-block">
        <span class="site-heading-upper text-primary mb-3">ソロキャンプの楽しさをシェアしよう</span>
        <span class="site-heading-lower">ソロキャンMap</span>
      </h1>
    </header>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
      <div class="container">
      <a class="navbar-brand text-uppercase fw-bold d-lg-none" href="index.html">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item px-lg-4"><a class="nav-link text-uppercase"><%= link_to "HOME", root_path %></a></li>
            <li class="nav-item px-lg-4"><a class="nav-link text-uppercase"><%= link_to "投稿一覧", posts_path %></a></li>
            <li class="nav-item px-lg-4"><a class="nav-link text-uppercase"><%= link_to "新規投稿", new_post_path %></a></li>
            <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="store.html">Store</a></li>
            <% if user_signed_in? %>
            <div class="dropdown">
              <div class="header-icon">
                <%= image_tag current_user.icon.url if current_user.icon? %>
              </div>
              <div class = "user_name">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                  <%= current_user.name %>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li><%= link_to "お気に入り投稿一覧", "" %></li>
                  <li><%= link_to "投稿一覧", "" %></li>
                  <li><%= link_to "アカウント設定", users_acount_path %></li>
                  <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
                </ul>
              </div>
            </div>
            <% else %>
              <div>
                <%= link_to "ログイン", new_user_session_path, class: 'post' %>
                <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
              </div>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
